<a href="https://colab.research.google.com/github/SabidMahmud/cse110/blob/main/assignments/CSE110_lab_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Task 1###

In [ ]:
# a) 24, 18, 12, 6, 0, -6
i = 24
while i >= -6:
    if i % 6 == 0 :
        if i != -6 :
            print(i, end=", ")
        else :
            print(i)
    i -= 1

# b) -10, -5, 0, 5, 10, 15, 20

count = -10
while count <= 20:
    if count%5 == 0 :
        if count == 20 :
            print(count)
        else :
            print( count, end = ", ")
    count+= 1

# c) 18, 27, 36, 45, 54, 63
count = 18
while count <= 63 :
    if count == 63 :
        print(count)
    else :
        print( count, end = ", ")
    count+=9

# 1. d) 18, -27, 36, -45, 54, -63
num = 18
while num <= 54 :
    if(num == 54) :
        print(num, end=", ")
        print(-num-9)
    else :
        print(num, end=", ")
        print(-num-9, end=", ")
    num += 18

###Task 2###

In [ ]:
name = input("What is the name of your favourite car? : ")
number = int(input("Enter a number : "))
for i in range(number) :
    print(name)

###Task 3###

In [ ]:
count = 0 
sum = 0
while count <= 600 :
    if count % 7 == 0 and count % 9 == 0 :
        sum += count
    count+=1

print(sum)

###Task 4###

In [ ]:
result = 0 
for i in range(1, 600+1) :
    if i % 7 == 0 or i % 9 == 0 : 
        if i % 7 == 0 and i % 9 == 0 :
            continue
        else:
            result += i
    else :
        continue

print( result )

###Task 5###

In [ ]:
for i in range(10, 50+1):
    if i%2 != 0 :
        print( i, end=" ")

###Task 6###

In [ ]:
import math
n = int( input("n = "))
y = 0
for i in range(1, n+1) :
    if i%2 == 0 :
        y -= pow(i, 2)
    else :
        y += pow(i, 2)

print( y )

###Task 7###

In [ ]:
sum = 0
count = 0
for i in range(10):
    n = int(input())
    if n%2 != 0 :
        sum+=n
        count+=1

average = sum/count
print("The total of the odd numbers is", sum, "and their average is", average)

###Task 8###

In [ ]:
n = int(input("Enter the value of N : "))
sum = 0
for i in range(n+1) :
    if i % 7 == 0 :
        sum += i

print( sum )

###Task 9###

In [ ]:
sum1 = 0
sum2 = 0
for i in range(5) :
    n = int(input())
    sum = sum + n
    print( sum )

###Task 10###

In [ ]:
number = int(input())
while True :
    d = number % 10
    number //= 10
    if number == 0 :
        print(d)
        break
    else :
        print(d, end = ", ")

###Task 11###

In [ ]:
n = int( input("N : "))
count = 0
while True :
    n //= 10
    count += 1
    if n == 0 :
        break

print( count )

###Task 12###

In [ ]:
import math 
n = int( input("N : "))
number = n
count = 0
while True :
    n //= 10
    count += 1
    if n == 0 :
        break

while True :
    count = count - 1
    digit = number // pow(10, count)
    number %= pow(10, count)
    if number != 0 :
        print( digit, end = ", ")
    else :
        print( digit, end = "")
        break

###Task 13 ###

In [ ]:
num = int( input("Number : ") )
count = 0
for i in range( 1, int(num/2)+1 ) :
    if num % i == 0 :
        print(i, end = ", ")
        count+=1 

print( num )
print( count )

###Task 14###

In [ ]:
number = int( input("Enter Number : ") )
sum = 0
for i in range( 1, int(number/2)+1 ) :
    if number % i == 0 :
        sum += i

if sum == number :
    print( number, "is a perfect number" )
else :
    print( number, "is not a perfect number")

###Task 15###

In [ ]:
number = int(input("Number : "))
prime_num = 0
for i in range(2, int(number/2)+1) :
    if number%i != 0 :
        prime_num = 1
    # else :
    #     prime_num = 1

if prime_num == 1 :
    print(number, "is a prime number")
else :
    print( number, "is not a prime number")

###Task 16###

In [ ]:
i = n = int(input())
max = min = 0
sum = 0
while i > 0 :
    i -= 1
    number = int( input() )
    if number >= max :
        max = number
    
    if number <= min :
        min = number
    
    sum = sum + number

print( "Maximum %d\nMinimum %d\nAverage is %g" %(max, min, sum/n))

###Task 17###

In [ ]:
number = int( input( ) )
for i in range(number) :
    for j in range(number) :
        if j == number-1 :
            print("+")
        else :
            print("+", end = "")

###Task 18###

In [ ]:
line = int( input("Lines: ") )
column = int( input("Columns: ") )
for i in range( 1, line+1):
    for j in range(1, column+1) :
        if j == column :
            print(j)
        else :
            print( j, end = "" )

###Task 19###

In [ ]:
N = int( input() )
for i in range(1, N+1) :
    for j in range(1,i+1) :
        print(j, end = "")
        if j == i :
            print("")